[submodule "src/pynus"]
	path = src/pynus
	url = https://github.com/Siroj42/pynus

[submodule "flatpak/flatpak-builder-tools"]
	path = flatpak/flatpak-builder-tools
	url = https://github.com/flatpak/flatpak-builder-tools.git
[submodule "src/bleak"]
	path = src/bleak
	url = https://github.com/siroj42/bleak
