[Desktop Entry]
Name=Wasp Companion
Keywords=wasp;companion;watch;smartwatch;pinetime;pine;pine64
Exec=/app/bin/run.sh
Terminal=false
Type=Application
Icon=io.github.siroj42.WaspCompanion
StartupNotify=true
